html, body {
    margin: 0px;
    background-color: gold;
}

.titulo {
    text-align: center;
    background-color: white;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#cartas {
    display: flex;
   height: 220px;
}